.col-sm-4.col-md-3.proto-content
  -if user_signed_in? && current_user.id == proto.user.id
    .dropdown.drop_menu_location
      %button{data: {toggle: "dropdown"}, id: "dropdownMenu", type: "button"}
        Action
      %ul{aria: {labelledby: "dropdownMenu1"}, class: "dropdown-menu"}
        %li
          =link_to "Delete", proto_path(proto), method: :delete, rel: "nofollow", data:{ method: "delete"}
        %li
          =link_to "Edit", edit_proto_path(proto)
  .thumbnail
    %a{href: proto_path(proto.id)}
      = image_tag( proto.images.main.first.image)
      .caption
        %h3
          =proto.title
        .proto-meta
          .proto-date
            =proto.created_at
        %ul.proto-tag-list.list-inline
          %li
            %a{href: "#", class: "btn btn-default"} iPad
          %li
            %a{href: "#", class: "btn btn-default"} wireframe